/* color palette
gray:           #6f7477
lavender:       rgb(223, 210, 223)
light gray:     #b9b7bd
darker gray:    #444444
dark gray:      #595e60
slight tan:     #e7d2cc
slightly gray:  #666b6e 
dark indigo:    #170b3b
dark purple:    rgb(55, 35, 55)
*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
     box-sizing: border-box;
  }
  *, *:before, *:after {
     box-sizing: inherit;
  }
  .socials li{
    display:inline-block;
    margin-left: 10px;
}
.socials img:hover{
   opacity: 0.5; 
}

/* h1{
    font-family: "Foldit", serif;
  font-optical-sizing: auto;
  
} */

h2, h1{
    font-family: "Share Tech Mono", serif;
  font-weight: 400;
  font-style: normal;
  color: #e7d2cc;
    text-align: center;
}
h1{
    color: lavender;
}
h3{
    font-family: "Chathura", serif;
  font-weight: 800;
  font-style: normal; 
  font-size: 50px;
}
h4{
    font-family: "Chathura", serif;
    font-weight: 800;
    font-style: normal; 
    font-size: 35px;  
}

  .content-wrapper {
    margin:0 auto;
    padding: 30px;

    max-width: 900px;
  }

  .socials {
    list-style-type: none;
    padding: 0;
    /* display: inline-block; */
}
html, body {
    height: 100%
}
body{
    font-family: monospace;
  font-weight: 400;
  font-style: normal;
}





.socials img {
    width: 32px;

}


 /* HOME~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.home { background: url(../images/bookish.png) no-repeat ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-size: 20px;

}
.content-bg{
    background: rgba(22, 17, 22, 0.8);
    padding: 30px;

}
/* ~~~~~~~~~~~~~~~~Profiles~~~~~~~~~~~~~~~~~~~~~~~~~ */

.project-item{
    display: flow-root;
    margin: 60px 0;
    border: double 5px  rgb(223, 210, 223);
}
.work-summary{
    border: ridge ;
    margin: 10px;
    padding: 5px;
}
.project-item img, .project-item video {
    height: 175px;
    float: left; 
    margin-right: 20px;

  }




/* ~~~Content Wrapper~~~~~~~~~~~~~~~~~~~~~~ */

.home .content-wrapper{
 
    flex: 1 0 auto;
}


/* FOOTER ~~~~~~~~~~~~~~~~~~~~~~~ */

footer { 
    background: rgba(55, 48, 55, 0.8);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

section p::first-letter{
font-size: 20px;
color: rgb(234, 225, 234);
}

section h4{
    text-align: center;
}
section a{
    align-content: center;
}
 
/* ~~~~~~~~~~~~~~~~~~~~ */


/* LINK STYLES ~~~~~~~~~~~~~~~~~~ */
a { 
    color:rgb(164, 170, 235);
    text-decoration: none;
}
a:hover {
color:#170b3b;

text-decoration: none;
}



/* ~~~~~~~~~~~~~~ Resume ~~~~~~~~~~~~~~~~ */
.resume header::before {
    background: url(../images/bookish.png) center;
    background-size: cover ;
    content: "";
    display:block;
    height: 375px;
}

.resume-section {
    margin-bottom: 50px;
}

.resume-section h2{
    border-bottom: 2px double rgb(223, 210, 223);
}

.btn {
background-color: rgb(55, 35, 55);

}

.download-link{
    position:fixed;
    top: 5px;
    left: 5px;

}

/* ~~~~~~~~~~~~~work experience~~~~~~~ */

.work-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
}


body {
    background:  #35393b;
}
* {
    color:rgb(223, 210, 223);
}

h2, h3 {
    text-align: center;
}

#highlight {
   background:#444444;  
}

.large-text {
font-size: 20px
}

button {
    
    background: rgb(55, 35, 55);
     
}

section p, h2 {
    color: #e7d2cc;
   
}

