/* color palette
gray:           #6f7477
lavender:       rgb(223, 210, 223)
light gray:     #b9b7bd
darker gray:    #444444
dark gray:      #595e60
slight tan:     #e7d2cc
slightly gray:  #666b6e 
dark indigo:    #170b3b
dark purple:    rgb(55, 35, 55)
*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
     box-sizing: border-box;
     font-size: 62.5%; ;
  }
  *, *:before, *:after {
     box-sizing: inherit;
  }
  .socials li{
    display:inline-block;
    margin-left: 10px;
}
.socials img:hover{
   opacity: 0.5; 
}

/* h1{
    font-family: "Foldit", serif;
  font-optical-sizing: auto;
  
} */

h2, h1{
    font-family: "Share Tech Mono", serif;
  font-weight: 400;
  font-style: normal;
  color: #e7d2cc;
    text-align: center;
    font-size: 3rem;
    margin: 0;
}
h1{
    color: lavender;
}
h3{
    font-family: "Chathura", serif;
  font-weight: 400;
  font-style: normal; 
  font-size: 40px;
  font-size: 5rem;
  margin: 0;
  line-height: 1;
}
h4{
    font-family: "Chathura", serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 35px;  
    margin: 0;

}
.project-item a :hover{
    opacity: 50%;
    
}

  .content-wrapper {
    margin:0 auto;
    /* padding: 30px; */

    max-width: 900px;
  }

  .socials {
    list-style-type: none;
    padding: 0;
    /* display: inline-block; */
}
html, body {
    height: 100%
}
body{
    font-family: monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.4;
}





.socials img {
    width: 32px;

}


 /* HOME~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.home { background: url(../images/bookish.png) no-repeat ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-size: 20px;

}
.content-bg{
    background: rgba(0, 0, 0, 0.9);
    padding: 30px;

}

@media screen and (max-width:900px){
    .home .content-wrapper{
        padding: 10px;
    }
    .content-bg{
        padding:20px
    }
}

/* ~~~~~~~~~~~~~~~~Projects~~~~~~~~~~~~~~~~~~~~~~~~~ */

.project-item{
    display: flow-root;
    margin: 60px 20px;
    border: double 5px  rgb(223, 210, 223);
    padding: 10px;
    justify-content: center;
}
.work-summary{
    border: ridge ;
    margin: 10px;
    padding: 5px;
}
.project-item img{
    height: 175px;
    /* flex-wrap: wrap; */
    border-radius: 5%;
    
}
.project-item img:hover{
    opacity: 50%;
    border: 2.5px;
    border-style: outset;

}
/* .project-item img:active{
    color: #424242; 
    margin: 0 50%;

  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  opacity: 1;
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
}
@media screen and (min-width:490px) and (max-width:860px){
    .project-wrap{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
    

}

@media screen and  (max-width:400px){
.project-item img{
        width:100%;
        margin-bottom: 10px;
    }


} */

.media{
    text-align: center;
}


/* ~~~Content Wrapper~~~~~~~~~~~~~~~~~~~~~~ */

.home .content-wrapper{
 
    flex: 1 0 auto;
}


/* FOOTER ~~~~~~~~~~~~~~~~~~~~~~~ */

footer { 
    background: rgba(0, 0, 0, 0.8);
    /* display: flex;
    justify-content: space-between;
    padding: 0 20px; */
}

@media screen and (min-width:860px){
    footer { 
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}

@media screen and (max-width:859px){
    footer{
        text-align:center;
        padding:10px;
    }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* section p ::{
font-size: 20px;
color: rgb(234, 225, 234);
} */

section h4{
    text-align: center;
}
section a{
    align-content: center;
}
 
/* ~~~~~~~~~~~~~~~~~~~~ */


/* LINK STYLES ~~~~~~~~~~~~~~~~~~ */
a { 
    color:rgb(164, 170, 235);
    text-decoration: none;
    padding: 5px;
}
a:hover {
color:#170b3b;

text-decoration: none;
}



/* ~~~~~~~~~~~~~~ Resume ~~~~~~~~~~~~~~~~ */
.resume header::before {
    background: url(../images/bookish.png) center;
    background-size: cover ;
    content: "";
    display:block;
    height: 375px;
}

.resume-section {
    margin-bottom: 50px;
}

.resume-section h2{
    border-bottom: 2px dashed rgb(223, 210, 223);
}

.btn {
background-color: rgb(23, 16, 23);
text-transform: uppercase;
font-size: 1.2rem;
letter-spacing: .1em;
border: outset rgb(55, 35, 55);
border-radius: 7px;
/* line-height: 1; */

}

.btn:hover{
    opacity: 60%;
}

.download-link{
    position:fixed;
    top: 5px;
    left: 5px;
    
}
@media screen and (max-width:450px){
    .download-link{
        position:absolute;
        top: 5px;
        left: 5px;
    }
}

@media screen and (max-width:500px){
    .resume header::before{
        height: 200px;
    }
    h1{
     font-size: 3rem;

    }
    h2{
        font-size: 2.5rem;
    }
}

/* ~~~~~~~~~~~~~work experience~~~~~~~ */

.work-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 30px 0px;

}

.work-item p {
    margin: 0;
}
.work-summary p:first-child{
    margin: 0;
}


/* ~~~~~~education~~~~~ */
.education-item{
    margin: 30px 0px;
}
.education-item p {
    margin: 0;
    padding: 10px;
}

/* ~~~~~~~Biography~~~~~~~~~~~~ */
.bio{
    height: 300px;
    flex-wrap: wrap;
    display: flow-root;
    float: left;
    padding: 10px;
    
}


body {
    background:  #000000;
    margin: 0;
}
* {
    color:rgb(223, 210, 223);
}

h2, h3 {
    text-align: center;

}

#highlight {
   background:#444444;  
   
}

.large-text {
font-size: 20px
}

button {
    
    background: rgb(55, 35, 55);
     
}

section p, h2 {
    color: #e7d2cc;
   
}

