/* Tan Color:    rgb(237,231,220) */





html {
    box-sizing: border-box;
    font-size: 62.5%; ;
 }
 *, *:before, *:after {
    box-sizing: inherit;
 }

.project-1{

background: url(../images/castle.jpeg) no-repeat;
background-size: cover;
display: flex;
background-color: rgb(237,231,220);
flex-direction: column;

}
button{
    border: ridge;
}

body p{

    font-size: 50px;
}
.story-beg{
    /* font-size: 50px; */
background-color: rgb(237,231,220, .5);
justify-content: center;
padding: 10px;

}
.bad-end{
    background: url(../images/AdobeStock_193833792.jpeg) no-repeat;
    background-color: rgba(0, 0, 0);
    justify-content: center;
    padding: 10px;
    background-size: cover;
    display: flex; 
    flex-direction: column;

}
.bad-end p{
    background-color: rgb(237,231,220, 0.5);
    padding: 5px;

}

.car-beach{
    background: url(../images/beach-scene.png) no-repeat;
    background-color: rgba(0, 0, 0);
    justify-content: center;
    padding: 10px;
    background-size: cover;
    display: flex; 
    flex-direction: column;
}
.car-beach p{
    background-color: rgb(237,231,220, 0.5);
    padding: 5px;


}
.beach-dragon{
    background: url(../images/beach-dragon.png) no-repeat;
    background-color: rgba(0, 0, 0);
    justify-content: center;
    padding: 10px;
    background-size: cover;
    display: flex; 
    flex-direction: column;
}
.beach-dragon p{
    background-color: rgb(237,231,220, 0.5);
    padding: 5px;
}
.forest-car{
    background: url(../images/forest-scene-car-dragon.png) no-repeat;
    background-color: rgba(0, 0, 0);
    justify-content: center;
    padding: 10px;
    background-size: cover;
    display: flex; 
    flex-direction: column;
}
.forest-car p{
    background-color: rgb(237,231,220, 0.5);
    padding: 5px;
}
.forest-dragon{
    background: url(../images/forest-dragon.png) no-repeat;
    background-color: rgba(0, 0, 0);
    justify-content: center;
    padding: 10px;
    background-size: cover;
    display: flex; 
    flex-direction: column;

}
.forest-dragon p{
    background-color: rgb(237,231,220, 0.5);
    padding: 5px;
}
.btn {
    background-color: rgb(23, 16, 23);
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .1em;
    border: outset rgb(55, 35, 55);
    border-radius: 7px;
    justify-content: center;
}
.options li a{
    font-size: 50px;
    text-decoration: none;
    color: black;
    background-color: rgb(237,231,220);
    border: ridge 5px ;
    border-radius: 7px;
    padding: 5px;

}
.options li a:hover{
    color: aqua;
    font-weight: 600;
}
.options li{
    list-style-type: none;
    /* background-color: rgb(237,231,220, .5) ; */
    padding: 10px ;
    text-align: center;

}

.car{
    background: url(../images/car.jpeg) no-repeat;
    background-size: cover;
    display: flex;
    background-color: rgb(237,231,220);
    flex-direction: column;

}
.car p{
    background-color: rgb(237,231,220, .5) ;
    padding: 10px ;
}
.dragon{
    background: url(../images/dragon.jpeg) no-repeat;
    background-size: cover;
    display: flex;
    background-color: rgb(237,231,220);
    flex-direction: column;
}
.dragon p{
    background-color: rgb(237,231,220, .5) ;
    padding: 10px ;

}